h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align:center
}
p {
  font-family: sans-seif;
}
ul {
  line-height: 40px;
}
.intro {
  font-style:italic;
}
body {
  background: linear-gradient(red, blue);
  height: 1500px;
}
